div(style='background: #f1f1f1 !important;float: left;width: 100%;padding-bottom: 20px;position: relative;font-family: Helvetica, Arial, sans-serif;font-size: 13px;')
    div(style='padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;position: relative;')
        section#page-title(style='border-bottom: 0px solid #eee;padding: 25px 0;position: relative;margin-left: -15px;margin-right: -15px;background: #f1f1f1;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #000;direction: ltr;overflow-x: hidden;font-family: Helvetica, Arial, sans-serif;font-size: 13px;background: #f1f1f1;-webkit-font-smoothing: antialiased !important;')
            div(style='margin: 0 15px;padding: 0;')
                div(style='border-color: #aeaeae;width: 16.66666667%;border-right-style: solid;border-right-width: 1px;float: left;padding: 0 15px;')
                    img(src='http://45.55.84.192:3000/assets/images/fms.png', style='width: 100%;max-width:230px;')
                div(style='width: 66.66666667%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;margin: 0;')
                    h1(style='font-size: 38.02px;color: #545454;font-weight: 400;letter-spacing: 1px;line-height: 1;margin: 0;padding: 0;text-transform: uppercase;font-family: "Raleway", sans-serif;') #{optionalData.title}
                    span(style='font-size: 19px;color: #ec5d58;font-weight: 400;margin-top: 0;display: block;text-transform: uppercase;font-family: "Lato", sans-serif;') #{optionalData.subTitle}
    div(style='padding-top: 30px;padding-bottom: 30px;padding-left: 30px;padding-right: 30px;')
        div(style='width: 100%;float: left;background: #fff;')
            div(style='margin-bottom: 0;display: block;background-color: #ffffff;position: relative;color: #000;')
                div(style="float:left;width:100%;position: relative;margin: 0 auto;padding:0px;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(0, 0, 0, 0.07)")
                    div(style='border-left-color: #f5b620;border-left-style: solid;border-left-width: 4px;float: left;width: 100%;min-height: 0 !important;line-height: normal !important;position: relative;padding: 0 !important;font-family: Helvetica, Arial, sans-serif;font-size: 13px;')
                        h4(style="margin-top: 0;margin-bottom: 0;font-size: 24px;color: inherit;text-transform: uppercase;padding: 15px;font-weight: normal;float: left;") #{fetchData.data.sel_project} - #{fetchData.data.allotee_name}
                        h6(style='padding: 15px !important;text-align: right;font-size: 12px;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;float: right;margin: 10px 0;') Create Date: #{optionalData.date}
                div(style='padding-top: 30px;padding-bottom: 30px;padding-left: 30px;padding-right: 30px;margin: 0 auto;background: #fff;')
                    div(style='width: 100%;float: left;')
                        div(style='width: 100%;float: left;position: relative; min-height: 1px;')
                            h3(style=" font-size: 16px; margin: 15px auto 30px; padding: 15px 0 5px; font-weight: bold; border-bottom: 1px solid #a6c367; text-transform: uppercase; color: #000; line-height: 1.1; ") Person Details
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style="float: left; width: 100%; ")
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Project
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.sel_project}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style="float: left; width: 100%; ")
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Type
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.sel_type}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style="float: left; width: 100%; ")
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') #{fetchData.data.sel_type} No.
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.sel_pro_type_no}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style="float: left; width: 100%; ")
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Broker
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.sel_broker}
                    div(style='width: 100%;float: left;')
                        div(style='width: 100%;float: left;position: relative; min-height: 1px;')
                            h3(style=" font-size: 16px; margin: 15px auto 30px; padding: 15px 0 5px; font-weight: bold; border-bottom: 1px solid #a6c367; text-transform: uppercase; color: #000; line-height: 1.1; ") Allotee Details
                    div(style='width: 100%;float: left;')
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Allotee Code
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.allotee_code}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Allotee Name
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.allotee_name}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Contact No.
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.contact_no}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') E-Mail
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;word-wrap: break-word;') #{fetchData.data.allotee_email}
                    div(style='width: 100%;float: left;')
                        div(style='width: 100%;float: left;position: relative; min-height: 1px;')
                            h3(style=" font-size: 16px; margin: 15px auto 30px; padding: 15px 0 5px; font-weight: bold; border-bottom: 1px solid #a6c367; text-transform: uppercase; color: #000; line-height: 1.1; ") Booking Details
                    div(style='width: 100%;float: left;')
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Document Year
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.doc_year}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Booking Date
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.booking_date}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Selling Price
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.selling_price}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Booking Amount
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.booking_amount}
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Payment Plan
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.payment_plan}/month
                        div(style='width: 25%;float: left;position: relative; min-height: 1px;')
                            div(style="margin-bottom: 15px;position: relative;float:left;width:100%;")
                                div(style='width: 100%;float: left;')
                                    div(style='width: 33.33333333%;float: left;position: relative; min-height: 1px;')
                                        label(style='font-weight: normal; color: #000000; font-size: 16px; width: 100%; text-transform: capitalize;') Installment
                                    div(style='width: 66.66666667%;float: left;position: relative; min-height: 1px;')
                                        strong(style='font-weight: 700;') #{fetchData.data.payment_installment} months
                    div(style='width: 100%;float: left;')
                        div(style='width: 100%;float: left;position: relative; min-height: 1px;')
                            h3(style=" font-size: 16px; margin: 15px auto 30px; padding: 15px 0 5px; font-weight: bold; border-bottom: 1px solid #a6c367; text-transform: uppercase; color: #000; line-height: 1.1; ") Monthly Payment Details
                    table(cellpadding='5', style="width: 100%;font-size: 14px;color: #545454 !important;font-weight: 400;border-spacing: 0;border-collapse: collapse;border: 0px;background: #ffffff;min-height: .01%; overflow-x: auto;", border='1')
                        tbody
                            tr(style='border: 0px;font-size: 14px;font-weight: 400;font-family: Helvetica, sans-serif;text-align: left;')
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Installment No.
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Voucher Type
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Voucher ID
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Payment Date
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Due Date
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Penalty
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Installment
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Amount
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Remaining Amount
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Status
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Balance
                            - var i = 0;
                            - var count = Object.keys(fetchData).length;
                            each ent, ind in fetchData.entData
                                - i += 1;
                                tr(style='font-size: 14px;font-family: Helvetica, sans-serif;font-weight: 400;'+(((i%2) === 0) ? 'background-color: #f9f9f9;':'')+((count !== i) ? 'border-bottom: 1px solid #e2e2e4;':''))
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.inst_ind}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.type}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.voucher_id}
                                    td(style='width:40px;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{(ent.pay_date) ? ent.pay_date : ""}
                                    td(style='width:40px;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.due_date}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.penalty}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.installment}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.amount}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.remaining}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{((ent.installment - ent.amount) > 0) ? "Unpaid" : "Paid"}
                                    td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') #{ent.balance}
                            tr(style='font-size: 14px;font-family: Helvetica, sans-serif;font-weight: 400;border-color:#e2e2e4;font-weight:bold;')
                                td(colspan='4', style='border: 0px;')
                                td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;border: none;padding: 8px;line-height: 1.42857143;') Total
                                td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') #{fetchData.reqData.totPenalty}
                                td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') #{fetchData.reqData.totInstallment}
                                td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') #{fetchData.reqData.totAmount}
                                td(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') #{fetchData.reqData.totRemAmount}
                                td(colspan='2', style='border: 0px;')
