doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title FocusMedia360° - Management | Payment Plan

        link(rel='apple-touch-icon', sizes='57x57', href='/assets/images/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/assets/images/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/assets/images/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/assets/images/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/assets/images/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/assets/images/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/assets/images/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/assets/images/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/assets/images/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/assets/images/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/assets/images/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/assets/images/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/assets/images/favicon/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/assets/images/favicon/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')

        meta(http-equiv='X-UA-Compatible', content='IE=edge,IE=9,IE=8,chrome=1')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(content='', name='description')
        meta(content='', name='author')

        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/vendor/themify-icons/themify-icons.min.css')
        link(href='/vendor/animate.css/animate.min.css', rel='stylesheet', media='screen')
        link(href='/vendor/perfect-scrollbar/perfect-scrollbar.min.css', rel='stylesheet', media='screen')
        link(href='/vendor/switchery/switchery.min.css', rel='stylesheet', media='screen')

        link(rel='stylesheet', href='/assets/css/responsive.css')
        link(rel='stylesheet', href='/assets/css/styles.css')
        link(rel='stylesheet', href='/assets/css/plugins.css')
        link#skin_color(rel='stylesheet', href='/assets/css/themes/theme-1.css')
        link(href='/vendor/jquery-ui/jquery-ui-1.10.1.custom.min.css', rel='stylesheet', media='screen')
        link(href='/assets/css/bootstrap-datepicker.min.css', rel='stylesheet', media='screen')

    body.detailreports
        .bg-offwhite
            #container.wrap-content.container-fluid
                section#page-title
                    .row
                        .col-md-2.border-right(style='border-color: #aeaeae;')
                            img(src='/assets/images/logo.png', class="logo-image", style='width: 100%;max-width:230px;')
                        .col-sm-8
                            h1.mainTitle(style='font-size: 38.02px;margin-top: 16px;') Payment Plan
                            //span.mainDescription(style='font-size: 19px;color: #ec5d58;') DETAILED LEDGER
            .row.padding-30
                .col-md-12
                    .row.padding-30
                        .col-md-12
                            .row.padding-15.padding-top-0
                                .panel.panel-white.no-radius
                                    .panel-heading.border-bottom.border-left.border-yellow.no-padding.no-line-height.no-min-height
                                        h4.panel-title.pull-left.padding-15 #{data.sel_project} - #{data.allotee_name}
                                    .panel-body.padding-30
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Person Details
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Project
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.sel_project}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Type
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.sel_type}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label #{data.sel_type} No.
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.sel_pro_type_no}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Broker
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.sel_broker}
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Allotee Details
                                        .row
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Allotee Code
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.allotee_code}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Allotee Name
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.allotee_name}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Contact No.
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.contact_no}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label E-Mail
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.allotee_email}
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Booking Details
                                        .row
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Document Year
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.doc_year}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Booking Date
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.booking_date}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Selling Price
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.selling_price}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Booking Amount
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.booking_amount}
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Payment Plan
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.payment_plan}/month
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Installment
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong #{data.payment_installment} months
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Monthly Payment Details
                                        table.table-responsive.table.table-striped.misreport(cellpadding='5', style='width:100%;', border='1')
                                            tbody
                                                tr.background-e2e8f0.no-border
                                                    th.col-md-1 Installment No.
                                                    th.col-md-1 Voucher Type
                                                    th.col-md-1 Voucher ID
                                                    th.col-md-1 Payment Date
                                                    th.col-md-1 Due Date
                                                    th.col-md-1 Penalty
                                                    th.col-md-1 Installment
                                                    th.col-md-1 Amount
                                                    th.col-md-1 Remaining Amount
                                                    th.col-md-1 Status
                                                    th.col-md-1 Balance
                                                - var totAmount = 0; var totPenalty = 0; var totInstallment = 0; var totRemAmount = 0;
                                                - var balance = data.selling_price;
                                                each ent, ind in entData
                                                    - totAmount += ent.amount;
                                                    - balance -= ent.amount;
                                                    - penalty = (ent.penalty) ? (ent.installment*1)/100:0;
                                                    - totPenalty += penalty;
                                                    - balance += penalty;
                                                    - remaining = ((ent.installment + penalty) - ent.amount);
                                                    - totInstallment += ent.installment;
                                                    - totRemAmount += remaining;
                                                    tr
                                                        td.col-md-1 #{("0"+(1+ind)).slice(-2)}
                                                        td.col-md-1 #{ent.type}
                                                        td.col-md-1 #{ent.voucher_id}
                                                        td.col-md-1(style='width:40px;') #{(ent.pay_date) ? ent.pay_date: ""}
                                                        td.col-md-1(style='width:40px;') #{ent.due_date}
                                                        td.col-md-1 #{(penalty > 0) ? penalty:""}
                                                        td.col-md-1 #{ent.installment}
                                                        td.col-md-1 #{ent.amount}
                                                        td.col-md-1 #{remaining}
                                                        td.col-md-1(style=(((ent.installment - ent.amount) > 0) ? 'color:red !important;':'color:green !important;')) #{((ent.installment - ent.amount) > 0) ? "Unpaid":"Paid"}
                                                        td.col-md-1 #{balance}

                                                tr.no-border
                                                    td(colspan='4')
                                                    td.col-md-1 Total
                                                    td.background-e6e6e6 #{totPenalty}
                                                    td.background-e6e6e6 #{totInstallment}
                                                    td.background-e6e6e6 #{totAmount}
                                                    td.background-e6e6e6 #{totRemAmount}
                                                    td(colspan='2')
                                        button.btn.btn-danger.btn-lg.btn-dark-Red.text-uppercase(type='button', style='margin-right:20px;' data-toggle="modal" data-target="#download-pdf") Save
                                        button.btn.btn-dark-black.btn-lg.text-uppercase(type='button') Print
            .modal.fade.modal-aside.center(tabindex='-1' id="download-pdf" role='dialog', aria-labelledby='Full Calendar', aria-hidden='true')
                .modal-dialog.modal-dialog.modal-lg
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#myModalLabel.modal-title Select the type of download
                        .modal-body
                            .row
                                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                    button.download-pdf(type='button')
                                        span(aria-hidden='true') Download in PDF
                                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                    button.download-pdf(type='button')
                                        span(aria-hidden='true') Download in Excel
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
