doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title FocusMedia360° - Management | Controls Listing

    body
        table(style='width:100%;padding:15px;')
            tbody
                tr
                    td(colspan='2' style="text-align:left;")
                        h2(style="margin:0;") #{proName}
                    td(style="text-align:right;") #{date}
                tr
                    td(colspan="3" style="border-top:2px solid black;")
                tr
                    td(style='width:25%;') Account Code
                    td(style='text-align:center;width:50%;') Account Description
                    td(style='text-align:right;width:25%;') Reference Code
                tr
                    td(colspan="3" style="border-top:2px solid black;")
                tr
                    td(colspan='3')
                        table(cellpadding='5' style='width:100%;')
                            each cont_item in data.cont_data
                                tr
                                    td(style="width:40px;") #{cont_item.id}
                                    td(colspan='2') #{cont_item.name}
                                each sCont_item in data.sub_cont_data
                                    if sCont_item.cont_id === cont_item.id
                                        tr
                                            td
                                            td(style="width:40px;") #{sCont_item.id}
                                            td #{sCont_item.name}